<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">


</head>
<body>
    <div class="main-ctn">
        <form class="contact-form">
            <div class="top">
                <input type="text" placeholder="Enter name" class="type1">
                <input type="email" placeholder="Enter email" class="type1">
            </div>
            <div class="middle">
                <input type="text" placeholder="enter details" class="type2">
            </div>
            <div class="bottom">
                <button type="submit" class="submit-btn">Submit form</button>
            </div>
        </form>
    </div>
    
</body>
</html>