<html>
    <head>
        <title>

        </title>
        <link rel="" href="style.css">
    </head>
    <body>
       <div class="main-ctn">
            <div class="left">
                    <div class="first"></div>
                    <div class="second"></div>
            </div>

            <div class="right">
                    <div class="right-first"></div>
                    <div class="right-second"></div>
                    <div class="right-third"></div>
            </div>

       </div>

    </body>
</html>
